/* body {
    overflow-x: hidden;
} */

/* COULEUR DU SITE */

.violet {
    background-color: rgb(173, 0, 255);
}

.vert {
    background-color: rgb(43, 255, 70);
}

.jaune {
    background-color: rgb(255, 255, 23);
}

/* ANNEXE SITE */

body div , img, p , a , h2 , .contact , .parcours {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: em;
}

h3 {
    font-size: 3em;
}

.icons {
    width: 20px;
    height: 20px;
    margin-right: 3%;
}

.buttonTopWhite {
    color: white;
}

@media only screen and (max-width: 400px) {
    h2 {
        font-size: 3em;
    }
    h3 {
        font-size: 2em;
    }
}